:root {
    --blue-color: rgba(144, 205, 244, 1);
    --main-color: rgba(16, 18, 20, 1);
    --yellow-color: rgba(251, 211, 141, 1);
    --orange-color: rgba(237, 137, 54, 1);
}
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
html {
    scroll-behavior: smooth; 
  }

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-color)
}
* {
    box-sizing: border-box;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: var(--yellow-color);
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: var(--orange-color);
    transition: color 0.5s;
  }

  .nav-link:hover {
    color: rgba(115, 128, 141, 1);
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  .section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 2px solid var(--blue-color);
  }

  .section-profile-logo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }

  .section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
  }

  .section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid var(--blue-color);
}

.section-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
 
.section-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--main-color);
}

.footer-container {
  background-color: var(--yellow-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

  .rss {
    width: 121px;
    height: 45px;
  }
