:root {
    --blue-color: rgba(42, 174, 231, 1);
    --main-color: rgba(16, 18, 20, 1);
}
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
html {
    scroll-behavior: smooth; 
  }

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
    color: var(--main-color)
}
* {
    box-sizing: border-box;
  }
  /* .container {
    max-width: 1440px;
    margin: 0 auto;
  } */

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-list {
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: var(--blue-color);
    transition: color 0.5s;
  }

  
  .nav-link:hover {
    color: rgba(115, 128, 141, 1);
  }

  /* .main-container {
    display: flex;
    flex-wrap: wrap;
  } */
  
  /* .section {
    width: 50%;
  } */

  .section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--main-color);
  }

  /* .section-info {
    font-size: 18px;
    font-weight: 200;
    color: var(--main-color);
  } */
  
  .img {
    width: 200px;
    height: 200px;
    /* border-radius: 50%;
    position: relative;
    left: 200px;
    top: -150px; */
  }
  
/* #profile {
    position: relative;
    left: 800px;
    top: -300px;
} */

.intro {
  display: flex;
  align-items: center;
  padding: 20px;
}

.profile-pic {
  margin-right: 20px; /* Пространство между фото и заголовками */
  /* Стилизация блока с фото */
}

.titles {
  display: flex;
  flex-direction: column;
  /* Стилизация блока с заголовками */
}

.info {
  display: flex;
  justify-content: center; /* Центрирование секций */
  padding: 20px;
}

.column-container {
  display: flex;
  justify-content: center; /* Центрирование контейнеров */
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Растягивание секций вертикально */
  width: 400px; /* Максимальная ширина контейнера */
}

.section {
  border: 1px solid gray; /* Добавление границы на секции */
  padding: 10px; /* Добавление отступов внутри секций */
  margin-bottom: 10px; /* Пространство между контейнерами */
}

footer {
  background: lightgray;
  padding: 20px;
}